!!!
%html
  %head
    %title 场景大师
    %link{href: '/assets/css/bootstrap.css', rel: 'stylesheet', type: 'text/css', media: 'screen'}
    %link{href: '/assets/css/bootstrap-responsive.css', rel: 'stylesheet', type: 'text/css', media: 'screen'}
    %link{href: '/assets/css/front.css', rel: 'stylesheet', type: 'text/css', media: 'screen'}  
  %body
    %div.navbar.navbar-fixed-top
      %div.navbar-inner
        %div.container
          %h2 场景大师
          %ul.nav.pull-right
            %li.first
              %a.current{href: Session::SignForm.path} 注册
            %li.last
              %a{href: Session::LoginForm.path} 登录

    %div.container
      %div#main.container-fluid
        %div.content
          %form.form-horizontal{action: '', method: 'post'}
            %h3 登陆
            %div.control-group
              %label.control-label 用户名
              %div.controls
                %input{type: 'text', name: 'user[name]'}
            %div.control-group
              %label.control-label 密码
              %div.controls
                %input{type: 'password', name: 'user[password]'}
            %div.control-group
              %div.controls
                %input{type: 'submit', value: '登录', class: 'btn'}

    
  
