%div#main.container-fluid
  %a.btn.btn-large.btn-primary.pull-right{href: Scene::New.path} 创建场景
  %div.content
    - @scenes.each do |scene|
      %div.topics
        %h4
          %a{href: Scene::Show.path(scene[:id])}= scene[:name]

    
  
