.navbar-fixed-top h2{margin:4px 0;padding:0;float:left;}
.navbar-fixed-top{margin-bottom: 10px;position:static;}
.form-horizontal h3{margin-left: 180px;}
.activity {margin:3px 0; line-height: 24px;}
.idata{margin-top: 15px;}
span.label{margin:0 1px;cursor:hand;cursor:pointer;}
span.normal{cursor:default;}
span.icons {margin-left: 12px;}
a.icon {cursor:hand;cursor:pointer;text-decoration:none;margin:0;}
.icons .icon{padding:3px;margin:0 2px;}
.icon.drag{cursor:move;}
.activity .ph{width:14px;height:14px;margin:0;display:inline-block;}

