.navbar-fixed-top h2{margin:4px 0;padding:0;float:left;}
.navbar-fixed-top{margin-bottom: 10px;position:static;}
.form-horizontal h3{margin-left: 180px;}
.activity {margin:3px 0; line-height: 24px;}
.idata{margin-top: 15px;}
span.label{margin:0 1px;cursor:hand;cursor:pointer;}
span.normal{cursor:default;}
span.icons {margin-left: 12px;}
a.icon {cursor:hand;cursor:pointer;text-decoration:none;margin:0;}
.icons .icon{padding:3px;margin:0 2px;}
.icon.drag{cursor:move;}
.activity .ph{width:14px;height:14px;margin:0;display:inline-block;}
.node .ph{width:36px;height:14px;margin:0;display:inline-block;}
.scene .radio{padding-left:0;margin-bottom:2px;}
.scene .rb{margin-right: 10px;}
.scene .ipt{margin-bottom: 3px;}
.scene .sbm{margin-top: 6px;}
.node .t{display:inline-block;}
.navbar-fixed-top .container, .navbar-fixed-bottom .container, .container{width: 940px;}
.navbar, .navbar-fixed-top, .navbar-inner {background-image: none;}
.b0{background-color:rgb(240,230,218);}
.navbar a.m0 {color:rgb(54,37,17)}
.navbar .nav li a.m0{color:rgb(54,37,17)}
.navbar-inner{border:none;}
