-# coding: UTF-8
!!!
%html
  %head
    %title 场景大师
    %link{href: '/assets/css/bootstrap.css', rel: 'stylesheet', type: 'text/css', media: 'screen'}
    %link{href: '/assets/css/bootstrap-responsive.css', rel: 'stylesheet', type: 'text/css', media: 'screen'}
    %link{href: '/assets/css/front.css', rel: 'stylesheet', type: 'text/css', media: 'screen'}
    %script{type: 'text/javascript', src: '/assets/js/jquery-2.0.2.min.js'}
    %script{type: 'text/javascript', src: '/assets/js/bootstrap.min.js'}    
    %script{type: 'text/javascript', src: '/assets/js/scene.js'}
      
  %body{'data-offset' => 50}
    %div.navbar.navbar-fixed-top
      %div.navbar-inner
        %div.container
          %h2
            %a{href: '/scenes'} 场景大师
          %ul.nav.pull-right
            - if current_user.nil?
              %li.first
                %a{href: Session::SignForm.path} 注册
              %li.last
                %a{href: Session::LoginForm.path} 登录
            - else
              %ul.nav.pull-right
                %li.dropdown#user_menu
                  %a.dropdown-toggle{'data-toggle' => 'dropdown', 'href' => '#user_menu'}
                    = current_user[:name]
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{href: ''} 我的场景
                    %li.last
                      %a{href: Session::Logout.path} 退出
                      
    %div.container
      = yield if block_given?
