-# coding: UTF-8
%div#main.container-fluid
  %a.btn.btn-primary.btn-large.pull-right{href: Scene::Show.path(@scene[:id])} 完成
  %center
    %div.node
      %div.ph
      %h4.t{'data-name' => 'name'}=h @scene[:name]
      %input.edt.name{type: 'text', value: @scene[:name]}
      %span.crud.icons
        %a.icon.icon-wrench.wrench
      %span
        %button.edt.btn.btn-mini.btn-primary.confirm 确定

    %div.node
      %div.ph
      %p.t{'data-name' => 'description'}=h @scene[:description]
      %textarea.edt.description=h @scene[:description]
      %span.crud.icons
        %a.icon.icon-wrench.wrench
      %span
        %button.edt.btn.btn-mini.btn-primary.confirm 确定

  %input#scene_id.data{type: 'hidden', value: @scene[:id]}
  %ul.unstyled
    - @activities.each_with_index do |activity, index|
      %li.activity
        %a.icon.crud.icon-move.drag
        %div.ph
        %input.data{type: 'hidden', value: activity[:id]}
        %span.normal.label.label-inverse.role=h activity[:role]
        %input.edt.input-mini.role{type: 'text', value: activity[:role]}
        %span.normal.label.action=h activity[:action]
        %input.edt.input-mini.action{type: 'text', value: activity[:action]}
        - if not activity[:content] == ''
          %span.normal.label.label-inverse.content=h activity[:content]
        %textarea.edt.content=h activity[:content]
        %span.crud.icons
          %a.icon.icon-plus.add
          %a.icon.icon-wrench.wrench
          %a.icon.icon-trash.trash
        %span
          %button.edt.btn.btn-mini.btn-primary 确定
      %li.aft-activity
        %input.data.position{type: 'hidden', value: index + 1}
        %input.input-mini.role{type: 'text', placeholder: '角色'}
        %input.input-mini.action{type: 'text', placeholder: '动作'}
        %textarea.content{placeholder: '内容'}
        %span
          %button.btn.btn-mini.btn-primary.cfm 确定
  
                 
               
              
    
  