-# coding: UTF-8
!!!
%html
  %head
    %title 场景大师
    %link{href: '/assets/css/bootstrap.css', rel: 'stylesheet', type: 'text/css', media: 'screen'}
    %link{href: '/assets/css/bootstrap-responsive.css', rel: 'stylesheet', type: 'text/css', media: 'screen'}
  %body
    %div.container
      %div.row-fluid
      - @scenes.each do |scene|
        %div.span3
          %h3= scene[:name]
          %ul
            - @activities.where(scene_id: scene[:id]).each do |activity|
              %li
                %span= activity[:role]
                %span= activity[:action]
                %span= activity[:content]

    
  