-# coding: UTF-8
%div.container
  %div#main.container-fluid
    %div.content
      - @scenes.each do |scene|
        %div.topics
          %h4
            %a{href: Scene::Show.path(scene[:id])}= scene[:name]

    
  